/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.heading {
  margin-top: 10px; /* Adjust this value to control the space between the heading and the top of the container 
} */

/* Add custom styling for the navbar and sign-out button */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a6e84;
  padding: 5px;
}

.heading {
  margin-top: 10px;
}

button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
